RULES!
1: be nice
2: chill on the memes(edited)
3: do not hurt aphelion he is a precious and he will cry
4: Don't ask for mod :3
 "name": "web",
  "active": true,
  "events": [
    "push",
    "pull_request"
  ],
  "config": {
    "url": "https://discordapp.com/api/webhooks/313181898534944768/eCvhWCNzG3c2MyOFWqd8cqdBlLZOF2J5-2MOaoJpPmgPy8Q6w19iiN0rPTM5GehLTfxT/github",
    "content_type": "json"
    
   {
  "active": true,
  "add_events": [
    "pull_request"
  ]
}
POST /repos/:issrafel/:Discord-Webhooks/hooks/:id13767905/tests

POST /repos/:issrafel/:Discord-Webhooks/hooks/:id13767905/pings
